@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@600&family=Poppins:wght@400;600&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

/********************************** Heading Section ****************************/

.header-box {
  background-color: #1f2937;
  height: 20vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#heading {
  background-image: linear-gradient(to right, #656bff, #ff8787);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 272px;
  font-size: 56px;
  font-weight: 600;
}

/******************************************* ****************************/

/************************************ Body Section ******************************/

body {
  background-color: #111827;
}

.task-entry {
  height: 48px;
  width: 624px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#task-input {
  width: 464px;
  height: 48px;
  border: 1px solid #4b5563;
  border-radius: 8px;
  background-color: #111827;
  color: #4b5563;
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
  margin-right: 16px;
}

#create-btn {
  height: 48px;
  width: 144px;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #656bff, #ff8787);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s;
}

#create-btn:hover {
  background: linear-gradient(to right, #ff8787, #656bff);
  font-size: 17px;
}

#create-btn:active {
  font-size: 20px;
}

/******************************************* ****************************/

/************************************* Task Counter ****************************/

.task-count {
  width: 624px;
  height: 24px;
  margin: 32px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

#total-num {
  background: linear-gradient(to right, #656bff, #ff8787);
  margin-left: 16px;
  height: 24px;
  padding: 4px 10px;
  border-radius: 6px;
  line-height: 16px;
}

#done-num {
  margin-left: 16px;
  background: linear-gradient(to right, #322eff, #b121bd);
  height: 24px;
  padding: 4px 10px;
  border-radius: 6px;
  line-height: 16px;
}

/******************************************* ****************************/
